.Logo {
  text-align: left;
}
.SortArrow {
  color: white;
}
.roundedCircle {
  background-color: lightgray;
  border-radius: 100px;
}
.CommentUser {
  margin: 0;
}
.CommentDate {
  color: lightgray;
  font-size: small;
  margin: 0;
}
.CommentMessage {
  margin: 0;
}
.MockLink {
  color: blue;
  cursor: pointer;
}
.Link {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .Logo {
    text-align: center;
  }
  .CommentSubmit {
    text-align: center;
  }
  .LikeButton {
    width: 100%;
    text-align: center;
  }
  .PostViewTitle {
    font-size: large;
  }
}
#PaddingRow {
  margin-top: 20px;
}
#Overlay {
  top: unset;
}
#Overlay .card-title {
  font-weight: 300;
}
#modified-container {
  padding: 10px 50px;
}
.Center {
  text-align: center;
}
.Red {
  color: red;
}
.White {
  color: white;
}
.PostTitle {
  color: black;
  font-weight: bold;
}
.XLargeFont {
  font-size: xx-large;
}
.container {
  padding: 20px !important;
}
.HeaderContainer {
  padding: 20px;
}
.HeaderContainer .col {
  margin: 10px;
}
#inputGroupPrepend {
  background-color: #007bff;
  color: white;
}
#inputGroupPrepend1 {
  background-color: #c2c7cc;
  color: black;
}
.MuiFlatPageButton-rootCurrent {
  background-color: #08f !important;
  color: white !important;
}
.MuiFlatPageButton-sizeLarge {
  font-size: x-large !important;
}

input[type="checkbox"],
input[type="radio"] {
  width: 30px;
  height: 30px;
}

#keywordInput {
  background-color: #d3d3d36b;
}
#tagsInput {
  background-color: #e9ecef87;
  padding: 5px;
}
#tagsInput .form-label {
  font-weight: bold;
}
#BgImage {
  margin-right: -65px;
  margin-left: -65px;
}
.mb-10 {
  margin-bottom: 10px;
}
